logo {
		font-size: 2.75em;
		font-family: Monospace;
}
logo * {
		position: relative;
}
logo > .logo-js,
logo > .logo-parens {
		color: #888;
	   	font-size: 0.75em;
}
logo > .logo-parens {
	   	bottom: 0.1em;
}
